{% load static %}
<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta http-equiv="content-type" content="txt/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IP地址, IP地址查询, IP归属地, IP属地, 我的手机IP地址, 浏览器版本, 浏览器, 操作系统版本"
    />
    <meta
      name="description"
      content="考拉IP归属地，可查询用户IP地址及归属地, 及设备型号、操作系统及浏览器版本。"
    />
    <title>考拉IP归属地</title>
    <!-- import favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon_io/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon_io/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon_io/favicon-16x16.png' %}"
    />
    <link
      rel="icon"
      type="image/vnd.microsoft.icon"
      sizes="48x48"
      href="{% static 'favicon_io/favicon.ico' %}"
    />
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}" />
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <!-- import js -->
    {% block scripts %}{% endblock %}
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-YXC7ESZ82P"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YXC7ESZ82P");
    </script>
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4089826532740408"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>{% block nav %}{% endblock %}</nav>
    <main>
      {% block main %}{% endblock %}
      <section>
        <h1>赞助项目</h1>
        <ul>
          <ins
            class="adsbygoogle"
            style="display: block; text-align: center"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-4089826532740408"
            data-ad-slot="3215047669"
          ></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </ul>
        <p>
          捐赠：可通过
          <a href="{% static 'donate/微信-667x667.png' %}"> 微信 </a>、
          <a href="{% static 'donate/支付宝-667x667.png' %}"> 支付宝 </a>打赏
        </p>
      </section>
    </main>
    <footer>
      <p>
        <a
          href="https://github.com/jackjyq/ip?tab=readme-ov-file#api-%E6%96%87%E6%A1%A3"
          >API 文档</a
        >
      </p>
      <p>
        版权所有 &copy; 2022-2023
        <a href="https://jackjyq.com/">jackjyq.com</a>. 基于
        <a href="https://github.com/jackjyq/ip/blob/master/LICENSE"
          >MIT 开源协议</a
        >
        发布在 <a href="https://github.com/jackjyq/ip">Github</a>.
      </p>
      {% block footer %}{% endblock %}
    </footer>
  </body>
</html>
