{% extends "base.html" %} {% load static %} {% block nav %}
<div class="left"><a href="../">&lt; 后退</a></div>
<header>Headers 信息</header>
{% endblock %}{% block main %}
<section id="request">
  <h1>Request</h1>
  <ul>
    {% for attribute, value in headers.items %}
    <li>
      <span>{{ attribute }}</span>
      <span>{{ value }}</span>
    </li>
    {% endfor %}
  </ul>
  <p>
    Reference:
    <a
      href="https://docs.djangoproject.com/en/4.2/ref/request-response/#django.http.HttpRequest.headers"
      >Django request.headers</a
    >
  </p>
</section>
{% endblock %}
