* {
  box-sizing: border-box;
}

body {
  /* font-family
    https://zenozeng.github.io/fonts.css/ */
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica,
    "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB",
    "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN",
    "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti",
    SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

header,
main,
footer {
  background-color: #f2f1f5;
  margin: auto;
  max-width: 600px;
}

header {
  text-align: center;
  font-size: 20px;
  padding: 50px 0;
}

main {
  padding: 0 16px 16px 16px;
  font-size: 17px;
  /* 100vh - header - footer */
  min-height: calc(100vh - 120px - 63px);
}

section {
  padding-bottom: 20px;
}

h1,
p {
  color: #888888;
  font-size: 13px;
  padding: 8px 0 8px 12px;
}

ul {
  background-color: #ffffff;
  border-radius: 8px;
  padding-left: 12px;
}

li {
  padding: 12px 12px 12px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
}

li:not(:last-child) {
  border-bottom: #c9c9c99e solid 1px;
}

li > span:nth-child(1) {
  flex-shrink: 0;
}

li > span:nth-child(2) {
  color: #888888;
  word-break: break-all;
}

footer {
  text-align: center;
  color: #888888;
  font-size: 13px;
  padding: 25px 0;
}

a {
  color: #3b77e1;
  text-decoration: none;
}

a:visited {
  color: #3b77e1;
}
