* {
  box-sizing: border-box;
}

body {
  /* https://github.com */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 16px;
  color: #000000de;
}

nav,
main,
footer {
  background-color: #f2f2f2;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 768px;
}

nav {
  background-color: #f9f9f9;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  font-size: 20px;
  height: calc(20px + 20px * 2);
}

nav header {
  text-align: center;
  padding-top: 20px;
}

nav div {
  position: absolute;
  padding-top: 20px;
}

main {
  /* 100vh - header - footer */
  min-height: calc(100vh - 100px - 80px);
}

section {
  padding-top: 24px;
}

h1,
p {
  font-size: 12px;
  padding: 8px 0 8px 12px;
}

ul {
  background-color: #ffffff;
  border-radius: 12px;
  padding-left: 12px;
}

li {
  padding: 16px 12px 16px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 12px;
  word-break: break-all;
}

li[onClick] {
  cursor: pointer;
}

li:not(:last-child) {
  border-bottom: #00000010 solid 1px;
}

li > span:nth-child(1) {
  min-width: calc(16px * 5);
}

li > span:nth-child(2) {
  color: #0000008a;
}

footer {
  text-align: center;
  height: 80px;
  padding-top: 32px;
}

footer p {
  line-height: 1.2;
  padding: 0;
}

a {
  color: #3b77e1;
  text-decoration: none;
}
