{% load static %}
<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta http-equiv="content-type" content="txt/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IP地址, IP地址查询, IP归属地, IP属地, 我的手机IP地址, 浏览器版本, 浏览器, 操作系统版本"
    />
    <meta
      name="description"
      content="考拉IP归属地，可查询用户IP地址及归属地, 及设备型号、操作系统及浏览器版本。"
    />
    <title>考拉IP归属地</title>
    <!-- import favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon_io/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon_io/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon_io/favicon-16x16.png' %}"
    />
    <link
      rel="icon"
      type="image/vnd.microsoft.icon"
      sizes="48x48"
      href="{% static 'favicon_io/favicon.ico' %}"
    />
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}" />
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-YXC7ESZ82P"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YXC7ESZ82P");
    </script>
  </head>
  <body>
    <header>考拉 IP 归属地</header>
    <main>
      <section id="request">
        <h1>Request</h1>
        <ul>
          {% for attribute, value in headers.items %}
          <li>
            <span>{{ attribute }}</span>
            <span>{{ value }}</span>
          </li>
          {% endfor %}
        </ul>
        <p>
          Reference:
          <a
            href="https://docs.djangoproject.com/en/4.2/ref/request-response/#django.http.HttpRequest.headers"
            >Django request.headers</a
          >
        </p>
      </section>
    </main>
    <footer>
      <p>
        <a href="https://gitee.com/songyustudio/ip/blob/master/README.md"
          >API 文档</a
        >
      </p>
      <p>
        <a href="https://gitee.com/songyustudio/ip">码云</a> |
        <a href="https://github.com/jackjyq/ip">Github</a>
      </p>
      <p>
        MIT License © 2022
        <a href="https://www.jackjyq.com">松鱼工作室</a>
      </p>
    </footer>
  </body>
</html>
