{% load static %}
<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta http-equiv="content-type" content="txt/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="IP地址, IP地址查询, IP归属地, IP属地, 我的手机IP地址, 浏览器版本, 浏览器, 操作系统版本"
    />
    <meta
      name="description"
      content="我的IP查询, 可查询我的IP地址及归属地, 及访问本站所使用的设备、操作系统及浏览器版本。"
    />
    <title>我的IP查询</title>
    <!-- import favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'favicon_io/apple-touch-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'favicon_io/favicon-32x32.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'favicon_io/favicon-16x16.png' %}"
    />
    <link
      rel="icon"
      type="image/vnd.microsoft.icon"
      sizes="48x48"
      href="{% static 'favicon_io/favicon.ico' %}"
    />
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}" />
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="{% static 'reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>

  <body>
    <main>
      <section>
        <h1>{{ ip }}</h1>
      </section>
      <section>
        {% if not province and not city %}
        <h1>未知地址</h1>
        {% elif not province %}
        <h1>{{ city }}</h1>
        {% elif not city %}
        <h1>{{ province }}</h1>
        {% elif province == city %}
        <h1>{{ city }}</h1>
        {% else %}
        <h1>{{ province }} {{ city }}</h1>
        {% endif %} {% if country %}
        <p>{{ country }}</p>
        {% endif %}
      </section>
      <section>
        {% if browser %}
        <h1>{{ browser }}</h1>
        {% else %}
        <h1>未知浏览器</h1>
        {% endif %} {% if browser_version %}
        <p>{{ browser_version }}</p>
        {% endif %}
      </section>
      <section>
        {% if os %}
        <h1>{{ os }}</h1>
        {% else %}
        <h1>未知系统</h1>
        {% endif %} {% if os_version %}
        <p>{{ os_version }}</p>
        {% endif %}
      </section>
    </main>
    <footer>
      MIT License © 2022
      <a href="https://gitee.com/songyustudio/ip">松鱼工作室</a>
    </footer>
  </body>
</html>
