{% extends "base.html" %} {% load static %} {%block nav %}
<div class="left"><a href="../">&lt; 后退</a></div>
<header>Whois 信息</header>
{% endblock %} {% block main %}
<section id="whois">
  <ul>
    {% for line in whois %}
    <li>
      <span> {{ line.0 }} </span>
      <span> {{ line.1 }} </span>
    </li>

    {% endfor %}
  </ul>
</section>
{% endblock %} {% block footer %}
<p>
  <a href="https://gitee.com/songyustudio/ip/blob/master/README.md">API 文档</a>
</p>
<p>
  <a href="https://gitee.com/songyustudio/ip">码云</a> |
  <a href="https://github.com/jackjyq/ip">Github</a>
</p>
<p>
  MIT License © 2022
  <a href="https://www.jackjyq.com">松鱼工作室</a>
</p>
{% endblock %}
